Flow.json
[
    {
        "id": "c634f62e6943f377",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bbee99e8fc967ee",
        "type": "e-mail in",
        "z": "c634f62e6943f377",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "60",
        "fetch": "auto",
        "inputs": 0,
        "credentials": {},
        "x": 250,
        "y": 240,
        "wires": [
            [
                "92282debbdb2263c"
            ]
        ]
    },
    {
        "id": "92282debbdb2263c",
        "type": "function",
        "z": "c634f62e6943f377",
        "name": "",
        "func": "\n\n\nconst attachments = msg.attachments;\nconst stoklistesi = attachments.find( (file) => file.filename == \"stoklistesi.xlsx\" );\nif(attachments.length > 0){\n    return {payload:stoklistesi.content};\n}else{\n    return \"Dosya bulunamadı.\";\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "8168ce40d147c62f"
            ]
        ]
    },
    {
        "id": "8168ce40d147c62f",
        "type": "book",
        "z": "c634f62e6943f377",
        "name": "",
        "raw": false,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "0a3315d487554901"
            ]
        ]
    },
    {
        "id": "3ef88d5bb63bf950",
        "type": "sheet-to-json",
        "z": "c634f62e6943f377",
        "name": "",
        "raw": "false",
        "range": "",
        "header": "default",
        "blankrows": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "8c54abdacd5fb453"
            ]
        ]
    },
    {
        "id": "0a3315d487554901",
        "type": "sheet",
        "z": "c634f62e6943f377",
        "name": "",
        "sheetName": "Sayfa1",
        "x": 630,
        "y": 300,
        "wires": [
            [
                "3ef88d5bb63bf950"
            ]
        ]
    },
    {
        "id": "8c54abdacd5fb453",
        "type": "function",
        "z": "c634f62e6943f377",
        "name": "",
        "func": "\nconst data = msg.payload;\n\nlet queries = data.map((value)=>{\n    return {\n        query: 'INSERT INTO db_stoklistesi( \"StokKodu\", \"StokAdi\", \"Miktar\", \"Fiyat\") VALUES ($stokKodu, $stokAdi, $miktar, $fiyat)',\n        params: {\n            stokKodu: value.StokKodu,\n            stokAdi: value.StokAdi,\n            miktar: value.Miktar,\n            fiyat: value.Fiyat,\n        },\n    }\n})\n\nqueries.unshift({query: 'begin'})\nqueries.push({query: 'commit'})\n\nmsg.payload = queries;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "73fdfe32f0de23ac"
            ]
        ]
    },
    {
        "id": "73fdfe32f0de23ac",
        "type": "postgres",
        "z": "c634f62e6943f377",
        "postgresdb": "ff733ef8e5471c8c",
        "name": "",
        "output": true,
        "outputs": 1,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "fe3fea0a272de7df"
            ]
        ]
    },
    {
        "id": "fe3fea0a272de7df",
        "type": "debug",
        "z": "c634f62e6943f377",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "ff733ef8e5471c8c",
        "type": "postgresdb",
        "hostname": "localhost",
        "port": "5432",
        "db": "postgres",
        "ssl": false
    }
]